#set($classType = "Double")
#set($algebraicType = "Field")
#set($numericType = "double")
#set($nativeType = "double")
#set($className = "${classType}MatrixAlgebra")
$generator.parse("TypeMatrixAlgebra.vm", "${className}.java")

#set($classType = "Integer")
#set($algebraicType = "Ring")
#set($numericType = "integer")
#set($nativeType = "int")
#set($className = "${classType}MatrixAlgebra")
$generator.parse("TypeMatrixAlgebra.vm", "${className}.java")

#set($classType = "Double")
#set($algebraicType = "Field")
#set($numericType = "double")
#set($nativeType = "double")
#set($className = "Abstract${classType}Matrix")
$generator.parse("AbstractTypeMatrix.vm", "${className}.java")

#set($classType = "Integer")
#set($algebraicType = "Ring")
#set($numericType = "integer")
#set($nativeType = "int")
#set($className = "Abstract${classType}Matrix")
$generator.parse("AbstractTypeMatrix.vm", "${className}.java")

#set($classType = "Complex")
#set($algebraicType = "Field")
#set($numericType = "complex")
#set($nativeType = "double")
#set($className = "Abstract${classType}Matrix")
$generator.parse("AbstractComplexMatrix.vm", "${className}.java")


#set($classType = "Double")
#set($algebraicType = "Field")
#set($numericType = "double")
#set($nativeType = "double")
#set($className = "Abstract${classType}SquareMatrix")
$generator.parse("AbstractTypeSquareMatrix.vm", "${className}.java")

#set($classType = "Integer")
#set($algebraicType = "Ring")
#set($numericType = "integer")
#set($nativeType = "int")
#set($className = "Abstract${classType}SquareMatrix")
$generator.parse("AbstractTypeSquareMatrix.vm", "${className}.java")

#set($classType = "Complex")
#set($algebraicType = "Field")
#set($numericType = "complex")
#set($nativeType = "double")
#set($className = "Abstract${classType}SquareMatrix")
$generator.parse("AbstractComplexSquareMatrix.vm", "${className}.java")


#set($classType = "Double")
#set($algebraicType = "Field")
#set($numericType = "double")
#set($nativeType = "double")
#set($className = "${classType}Matrix")
$generator.parse("TypeMatrix.vm", "${className}.java")

#set($classType = "Integer")
#set($algebraicType = "Ring")
#set($numericType = "integer")
#set($nativeType = "int")
#set($className = "${classType}Matrix")
$generator.parse("TypeMatrix.vm", "${className}.java")

#set($classType = "Complex")
#set($algebraicType = "Field")
#set($numericType = "complex")
#set($nativeType = "double")
#set($className = "${classType}Matrix")
$generator.parse("ComplexMatrix.vm", "${className}.java")


#set($classType = "Double")
#set($algebraicType = "Field")
#set($numericType = "double")
#set($nativeType = "double")
#set($className = "${classType}SquareMatrix")
$generator.parse("TypeSquareMatrix.vm", "${className}.java")

#set($classType = "Integer")
#set($algebraicType = "Ring")
#set($numericType = "integer")
#set($nativeType = "int")
#set($className = "${classType}SquareMatrix")
$generator.parse("TypeSquareMatrix.vm", "${className}.java")

#set($classType = "Complex")
#set($algebraicType = "Field")
#set($numericType = "complex")
#set($nativeType = "double")
#set($className = "${classType}SquareMatrix")
$generator.parse("ComplexSquareMatrix.vm", "${className}.java")


#set($classType = "Double")
#set($algebraicType = "Field")
#set($numericType = "double")
#set($nativeType = "double")
#set($className = "${classType}TridiagonalMatrix")
$generator.parse("TypeTridiagonalMatrix.vm", "${className}.java")

#set($classType = "Integer")
#set($algebraicType = "Ring")
#set($numericType = "integer")
#set($nativeType = "int")
#set($className = "${classType}TridiagonalMatrix")
$generator.parse("TypeTridiagonalMatrix.vm", "${className}.java")

#set($classType = "Complex")
#set($algebraicType = "Field")
#set($numericType = "complex")
#set($nativeType = "double")
#set($className = "${classType}TridiagonalMatrix")
$generator.parse("ComplexTridiagonalMatrix.vm", "${className}.java")


#set($classType = "Double")
#set($algebraicType = "Field")
#set($numericType = "double")
#set($nativeType = "double")
#set($className = "${classType}DiagonalMatrix")
$generator.parse("TypeDiagonalMatrix.vm", "${className}.java")

#set($classType = "Integer")
#set($algebraicType = "Ring")
#set($numericType = "integer")
#set($nativeType = "int")
#set($className = "${classType}DiagonalMatrix")
$generator.parse("TypeDiagonalMatrix.vm", "${className}.java")

#set($classType = "Complex")
#set($algebraicType = "Field")
#set($numericType = "complex")
#set($nativeType = "double")
#set($className = "${classType}DiagonalMatrix")
$generator.parse("ComplexDiagonalMatrix.vm", "${className}.java")
